.container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  align-items: center;
  /* justify-content: center; */

}

.card{
  display: flex;
  text-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 30vw;
  height: 30vh;
  border: 5px solid black;
  margin: 10px;
  align-items: center;
}
